.lad {
 color: rgb(185, 1, 1) !important
}

body{
    background-image:url(/img/merakist-RxOrX1iW15A-unsplash.jpg);
    background-size: cover ;
    /* background-position: center; */
    background-repeat: no-repeat;
}

h2 { 
    color: rgba(33, 33, 31, 0.795);

}

h1, h3{
    color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(234, 255, 0);
}

.jumbotron{
    background: linear-gradient(0deg, rgba(189, 202, 203, 0.195) 0%, rgb(251, 209, 117) 97%);
}
.card{
    margin: 0.5rem;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0.5px 0.5px;
    
}
 .card:hover{
   transform: translateY(-15px); 
   box-shadow: 0 , 4px, 4px, rgba(0, 0, 0, 0.2);
   
 }